@charset "utf-8";

/*
webmini (http://www.webmini.net/)
webmini@webmini.net
Kim, Tae Kyung
*/

/* Site Layout - Body Wrap */
body,div,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,p,button {margin:0; padding:0;}
body {background:url(../images/default/bg.gif)  no-repeat left 24px; font:12px "µ¸¿ò", Dotum, "±¼¸²", Gulim, "¸¼Àº°íµñ", "Malgun Gothic", Arial, sans-serif, AppleGothic;}
#bodyWrap {position:relative; width:97%; min-width:982px; padding-left:20px; border:0;}
hr, legend {display:none;}
img, fieldset {border:0 none;}
.bul {margin:0 0 2px 0;vertical-align:middle;}
.pointer {cursor:pointer;}

/* Site link style */
a:link {color:#555555; text-decoration:none;}
a:visited {color:#555555; text-decoration:none;}
a:hover {color:#0066cc; text-decoration:underline;}
a:active {color:#555555; text-decoration:none;}

#skip_navigation {display:none;}

/* Site Layout - Header */
#header {position:relative; width:100%; height:102px; margin-bottom:10px; background:url(../images/default/bgHeader.gif) repeat-x left bottom; z-index:1;}
#header h1 {position:absolute; top:0; left:0;}

#it_search_form {position:absolute; top:42px; right:15px;}
#it_search_form .input {border:1px solid #d9d9d9; height:17px; width:120px; color:#888888; font-size:.9em;}
#it_search_form .submit_button {width:1px; height:1px; visibility:hidden;}

#mini_gnb {position:relative; z-index:2; width:100%; border-bottom:1px solid #eee; background:#fafafa; text-align:center;}
#mini_gnb .top_box {position:relative; width:96%; margin:0 auto; padding:3px 0; }
#mini_gnb ul.account {margin:0; padding:0; text-align:right;}
#mini_gnb ul.account li {display:inline; list-style:none; padding:0 1px 0 6px; background:url(../images/default/login_bar.gif) no-repeat left 50%; color:#555; font:11px "µ¸¿ò", Dotum; white-space:nowrap;}
#mini_gnb ul.account li.first-child {padding-left:0; background:none;}
#mini_gnb ul.account li.pointer {cursor:pointer;}
#mini_gnb ul.account li.bookmark {padding-left:0; background:none; cursor:pointer;}
#mini_gnb ul.account li strong {color:#555;}
#mini_gnb ul.account li a {color:#555; letter-spacing:-1px;}
#mini_gnb ul.account li a:hover {color:#555; text-decoration:underline;}
#mini_gnb .memberProfile{ display:none; position:absolute; top:23px; right:143px; padding:10px; background:#fff; border:1px solid #acb8d7; text-align:left; overflow:hidden;}
#mini_gnb .memberProfile.active{ display:block;}
#mini_gnb .memberProfile .authorName{ margin:0 0 8px 0; font-size:14px; font-weight:bold; color:#333; white-space:nowrap;}
#mini_gnb .memberProfile ul { margin:0; padding:10px 10px 5px 10px; list-style:none; border:1px solid #f2f2f2; background:#fcfcfc;}
#mini_gnb .memberProfile li{ float:none; white-space:nowrap; margin:0 0 5px 0; padding:0 0 0 10px; background:url(../images/default/bulletB.gif) no-repeat left center; font-size:11px; letter-spacing:-1px;}
#mini_gnb .memberProfile li a{ background:none; color:#333; text-decoration:none;}
#mini_gnb .memberProfile li a:hover,
#mini_gnb .memberProfile li a:active,
#mini_gnb .memberProfile li a:focus{ text-decoration:underline;}
#mini_gnb .memberProfile .close{ position:absolute; cursor:pointer; border:0; padding:0; top:0; right:0; width:27px; height:27px; background:transparent url(../images/default/buttonCloseX.gif) no-repeat center center;}
#mini_gnb .memberProfile .close span{ position:absolute; font-size:0; line-height:0; width:0; height:0; overflow:hidden; visibility:hidden;}

/* GNB */
#gnb {position:absolute; top:67px; left:15px; height:35px; margin:0; padding:0; overflow:hidden; white-space:nowrap; margin-bottom:10px;}
#gnb li {display:inline; position:relative; left:-2px; z-index:1;  list-style:none; float:left; width:auto; background:url(../images/default/bgGnbVr.gif) no-repeat left 50%; white-space:nowrap; line-height:16px; letter-spacing:-1px;}
#gnb li a {display:block; float:left; padding:10px 15px 2px 15px; width:auto; height:23px; color:#FFF; white-space:nowrap; text-decoration:none;}
#gnb li a:hover,
#gnb li a:focus {display:inline; position:relative; z-index:2; padding:4px 10px 2px 10px; margin:5px 4px 0 4px; border:solid #3b42d4; border-width:1px 1px 0 1px; background:#5057ed;}
#gnb li.on {position:relative; z-index:2; padding-left:3px; margin:0 -4px 0 2px; background:url(../images/default/bgGnbOn2.gif) no-repeat left top; font-weight:bold;}
#gnb li.on a {padding-right:18px; color:#FFF; background:url(../images/default/bgGnbOn.gif) no-repeat right top;}
#gnb li.on a:hover {color:#FFF;}

#new {position:absolute; top:65px; left:425px; z-index:2;}

#isSearch { position:absolute; top:20px; left:193px; text-align:left;}
#isSearch .inputText {width:200px; height:15px; padding:4px 3px 1px 3px; border:3px solid #5c66f9; background-color:#FFF; color:#555; font-size:12px; vertical-align:middle;}
#isSearch .inputText:hover,
#isSearch .inputText:focus { border:3px solid #8e95f8; background-color:#ffffff; }
#isSearch .submit {vertical-align:middle;}

#fo_is { position:absolute; top:20px; left:193px; text-align:left;}
#fo_is .inputText {width:200px; height:15px; padding:4px 3px 1px 3px; border:3px solid #5c66f9; background-color:#FFF; color:#555; font-size:12px; vertical-align:middle;}
#fo_is .inputText:hover,
#fo_is .inputText:focus { border:3px solid #8e95f8; background-color:#ffffff; }
#fo_is .submit {vertical-align:middle;}

#bgcolor {position:absolute; top:72px; right:15px; z-index:99; width:145px; height:10px;}
#bgcolor input {cursor:pointer;}
#bgcolor ul {margin:0; text-align:left;}
#bgcolor li {display:inline; list-style:none; padding:0;}
#bgcolor .bg1 {width:10px; height:10px; border:1px solid #dedede; background:#fff;}
#bgcolor .bg2 {width:10px; height:10px; border:1px solid #dedede; background:#faf7e9;}
#bgcolor .bg3 {width:10px; height:10px; border:1px solid #dedede; background:#fef3f0;}
#bgcolor .bg4 {width:10px; height:10px; border:1px solid #dedede; background:#f4f4f4;}
#bgcolor .bg5 {width:10px; height:10px; border:1px solid #dedede; background:#f0f3f9;}

/* Site Layout - Content Body */
#contentBody {position:relative; width:100%; padding-bottom:10px; font:12px "µ¸¿ò", Dotum, "±¼¸²", Gulim; overflow:hidden; background:url(../images/default/bgContentBody.gif) repeat-y left top; background-color:#ffffff;}
#contents {float:left; width:100%; margin-left:-200px;}
#colLeft {margin:0 20px 0 200px;}
#colRight {float:right; width:200px; text-align:right;}

/* popular */
#popular {width:198px; margin-bottom:10px; border:solid #dedede; border-width:0 1px 1px 1px;}

/* Site Layout - Footer */
#footer {clear:both; position:relative; padding-bottom:20px; border-top:2px solid #636870;}
#footer a {text-decoration:none; color:#666;}
#footer a:visited {text-decoration:none; color:#666;}
#footer a:hover {text-decoration:underline;}
#footer ul.foot_list {height:12px; margin:0; padding:9px 0; border:1px solid #ebebeb; border-top:0; background:#fafafa; text-align:center; overflow:hidden;}
#footer ul.foot_list li {display:inline; padding:0 1px 0 6px; white-space:nowrap; background:url(../images/default/line_v_footer.gif) no-repeat left 0;  font:11px "µ¸¿ò", Dotum;}
#footer ul.foot_list li a {letter-spacing:-1px;}
#footer p.top {position:absolute; top:6px; right:10px;}
#footer p.info {margin:5px 0 8px 0; font:11px "µ¸¿ò", Dotum; line-height:16px; color:#aaa; letter-spacing:-1px; text-align:center;}
#footer p.copyright {margin:0; color:#777; font:bold 9px Verdana; text-align:center;}
#footer p.copyright a {color:#6B7BB3 !important; font:bold 9px Verdana; text-decoration:none;}
#footer p.copyright a:hover,
#footer p.copyright a:focus {font:bold 9px Verdana; color:#6B7BB3;}
#footer address {padding-top:2px; color:#999; font:bold 9px Verdana; text-align:center;}
#footer abbr {color:#333;}
#footer .rss_icon {padding-left:12px; background: url(../images/default/icon_feed.gif) left 50% no-repeat;}

#family_site {
	position: absolute;
	top: 7px;
	left: 10px;
	background: url(../images/default/bg_family_site.gif) no-repeat;
}
#family_site h4 {
	cursor: pointer;
	width: 107px;
	height: 16px;
	margin: 0;
}
#family_site span {
	display: none;
}
#family_site #site_list {
	position: absolute;
	bottom: 15px;
	border: solid #d5d5d5;
	border-width:1px 1px 0 1px;
	background-color: #fff;
	width: 105px;
	height: 0;
	margin:0;
	overflow: auto;
}

#family_site #site_list a:hover,
#family_site #site_list a:focus {color:#0066cc; text-decoration:none;}

#family_site #site_list ul {
	list-style: none;
	margin:0;
	padding:5px;
	text-align:left;
	overflow:hidden;
}

#family_site #site_list ul li {
	color:#666;
	line-height:14px !important;
	font:11px "µ¸¿ò", Dotum;
	letter-spacing:-1px;
}

/* Google AD */
.google_sky {width:198px; margin-top:10px; padding:10px 0 5px 0; border:1px solid #dedede; text-align:center;}