<!--%import("../../widgets/login_info/skins/xe_official/filter/login.xml")-->
<!--%import("../../widgets/login_info/skins/xe_official/filter/openid_login.xml")-->
<!--%import("../../widgets/login_info/skins/xe_official/js/login.js")-->




<!--@if($is_logged)-->
<fieldset id="login" class="login_{$colorset}">
<legend>{$lang->cmd_login}</legend>
<form action="" method="post">

    <div class="userName">
	<strong>{htmlspecialchars($logged_info->user_name)}</strong> a.k.a <strong>{$logged_info->nick_name}</strong><a href="{getUrl('act','dispMemberMessages','member_srl',$logged_info->member_srl)}"><span class="login_msg"></span></a>
    </div>

<img class="zbxe_widget_output" widget="point_status" skin="eond_official_login" colorset="white" />



<!--@if($logged_info->is_admin=="Y")-->
<div class="loginifadmin">
	<a href="{getUrl('','module','admin')}" onclick="window.open(this.href);return false;" title="{$lang->cmd_management}">{$lang->cmd_management}</a><!--@if($layout_info->layout_srl)--><span class="item_div">|</span><a href="{getUrl('act','dispLayoutAdminModify','layout_srl',$layout_info->layout_srl)}" title="{$lang->cmd_layout_management}">{$lang->cmd_layout_management}</a>/<a href="{getUrl('act','dispLayoutAdminEdit','layout_srl',$layout_info->layout_srl)}" title="{$lang->cmd_edit}">{$lang->cmd_edit}</a>
</div>
<!--@end-->
<!--@elseif($logged_info->is_site_admin)-->
<div class="loginifadmin">
	<a href="{getUrl('','module','homepage')}" onclick="window.open(this.href);return false;"><span title="{$lang->cmd_management}">{$lang->cmd_management}</span></a>
</div>
<!--@end-->

<div style="margin:10px auto 0;padding:0;overflow:hidden;border:0;text-align:center;overflow:hidden;">
<ul style="display:inline-block;list-style:none;margin:0;padding:0;width:179px;">
<li style="float:left;"><a href="{getUrl('act','dispMemberLogout')}"><span class="btn_logout" alt="{$lang->cmd_logout}"></span></a></li>
<li style="float:left;"><a href="{getUrl('act','dispMemberInfo')}"><span class="btn_loginfo"></span></a></li>
</ul>
</div>


</form>
</fieldset>

<!--@else-->
<script type="text/javascript">
    var keep_signed_msg = "{$lang->about_keep_signed}";
    xAddEventListener(window, "load", function(){ doFocusUserId("fo_login_widget"); });
</script>

<fieldset id="login" class="login_{$colorset}">
<legend>{$lang->cmd_login}</legend>
<form action="./" method="post" onsubmit="return procFilter(this, widget_login)" id="fo_login_widget">




    <div class="idpwWrap">
        <div class="idpw">
            <input name="user_id" type="text" title="user id" />
            <input name="password" type="password" title="password" />
        </div>
	</div>
    <!--@if($member_config->enable_ssl=='Y')-->
    <p class="securitySignIn <!--@if($ssl_mode)-->SSL<!--@else-->noneSSL<!--@end-->">
        <a href="#" onclick="toggleSecuritySignIn(); return false;">{$lang->security_sign_in}</a>
    </p>
    <!--@end-->
    <p class="save">
        <input type="checkbox" name="keep_signed" id="keepid" value="Y" onclick="if(this.checked) return confirm(keep_signed_msg);" />
        <label for="keepid">{$lang->keep_signed}</label>
	</p>
<div style="margin:10px auto 0;width:180px;padding:0;">
<ul style="display:inline-block;list-style:none;margin:0;padding:0;">
<li style="float:left"><input type="image" src="./images/login/btn_login.gif" alt="login" class="btn_login" /></li>
<li style="float:left"><a href="{getUrl('act','dispMemberSignUpForm')}"><span class="btn_join"></span></a></li>
</ul>
</div>

        <!--@if($member_config->enable_openid=='Y')-->
        <br />
        <input name="use_open_id" id="use_open_id" type="checkbox" value="Y" onclick="toggleLoginForm(this); return false;" />
        <label for="use_open_id">Open ID</label>
        <!--@end-->
    



    <ul class="help">
        <li class="first-child"><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
        <li><a href="{getUrl('act','dispMemberResendAuthMail')}">{$lang->cmd_resend_auth_mail}</a></li>
    </ul>
</form> 
</fieldset>

<!-- OpenID -->
<!--@if($member_config->enable_openid=='Y')-->
<fieldset id="openid_login" class="openid_login_{$colorset}" style="display:none;">
<legend>{$lang->cmd_login}</legend>
  <form action="{getUrl('module','member','act','procMemberOpenIDLogin')}" method="post" onsubmit="return procFilter(this, openid_login)" >
      <div class="idpwWrap">
        <div class="idpw">
          <p>{$lang->openid}</p>
          <input type="text" name="openid" class="openid_user_id" />
        </div>
        <input type="image" src="./images/{$colorset}/buttonLogin.gif" alt="login" class="login" />
      </div>
      <p class="save">
          <input name="use_open_id" id="use_open_id_2" type="checkbox" value="Y" onclick="toggleLoginForm(this); return false;"/>
          <label for="use_open_id_2">Open ID</label>
      </p>
  </form>
</fieldset>
<!--@end-->

<script type="text/javascript">
  xAddEventListener(window, "load", function(){ doFocusUserId("fo_login_widget"); });
</script>

<!--@end-->