<!--GNB-->
<ul id="sitebar_old">
            <!-- navi_menu 1차 -->
            <!--@foreach($sitebar->list as $key => $val)--><!--@if($val['link'])-->
                <!--@if($val['selected'])-->
                    {@ $menu_1st = $val }
                <!--@end-->

                <li <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end--> target=_top>{$val['link']}</a></li>

            <!--@end--><!--@end-->
            <!-- //navi_menu 1차 -->
</ul>
<!--//GNB-->
<div class="sitebar_old_admin"><a href="./?module=admin&act=dispBoardAdminContent" target="_top"><img src="./images/navi_ico_admin.gif" width="10" height="10"></a></div>