

<div id="menu" class="wdg_menu">


		<div class="major">

			<ul id="gnb">
				<!--@foreach($main_menu->list as $key => $val)--><!--@if($val['link'])-->
				<!--@if($val['selected'])-->
				{@ $menu_1st = $val }
				<!--@end-->
				<li><a href="{$val['href']}" onfocus="this.blur()" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><span>{$val['link']}</span></a>
					<div class="sub">
						<ul>
							<!--@foreach($val['list'] as $mkey => $mval)--><!--@if($mval['text'])-->
							<li><a href="{$mval['href']}" onfocus="this.blur()" <!--@if($mval['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->><span>{$mval['text']}</span></a></li>
							<!--@end--><!--@end-->
						</ul>
					</div>
				</li>
				<!--@end-->
				<!--@end-->
			</ul>
		</div>
		<span class="gradient"></span>

</div>

