<!--%import("css/default.css")-->
<!--%import("css/acc.css")-->
<div id="outerWrapper">
	<div id="header" class="iePngFix"><div id="header_content">
	  	<h1><a href="{$layout_info->index_url}" class="iePngfix"<!--@if($layout_info->logo_image)--> style="background:url({$layout_info->logo_image}) no-repeat;"<!--@end-->><span class="mask"><!--@if(!$layout_info->index_name)-->Elkha<!--@else-->{$layout_info->index_name}<!--@end--></span></a></h1>
	    <div id="header_search">
			  <form action="{getUrl()}" method="post" id="isSearch">
				<input type="hidden" name="mid" value="{$mid}" />
				<input type="hidden" name="act" value="IS" />	
				<input name="is_keyword" type="text" class="inputText" title="keyword" />
				<input type="image" src="images/default/search.gif" alt="{$lang->cmd_search}" class="submit" />
				</form>
			</div>
			<div id="header_login" class="iePngFix">
				<div id="acc"><ul class="account">
						<li class="log">
	            <!--@if($is_logged)-->
	          	  <a href="{getUrl('act','dispMemberLogout')}"><img src="images/account/buttonLogout.gif" width="33" height="5" alt="LOGOUT" /></a>
	            <!--@else-->
	         	   <a href="#loginWindow" onclick="jQuery('#loginWindow').css('display','block');" accesskey="L"><img src="images/account/buttonLogin.gif" width="25" height="5" alt="LOGIN" /></a>
	            <!--@end-->
	           </li>
	            <!--@if(!$is_logged)-->
						<li class="register"><a href="{getUrl('act','dispMemberSignUpForm')}"><span>Register</span></a></li>
				            <!--@else-->
						<li class="profile">
							<button type="button" onclick="jQuery('#memberProfile').toggleClass('active');"><span>Profile</span></button>
							<!-- memberProfile -->
							<div id="memberProfile" class="memberProfile">
							<!-- class="memberProfile" | class="memberProfile active" -->
								<button type="button" class="close" onclick="jQuery('#memberProfile').toggleClass('active');" accesskey="X"><span>Close profile layer</span></button>
								<h2 class="authorName">{$logged_info->nick_name}</h2>
								<ul>
				                        <!--@foreach($logged_info->menu_list as $key => $val)-->
				                      	  <li><a href="{getUrl('act',$key,'member_srl','')}">{Context::getLang($val)}</a></li>
				                        <!--@end-->
								</ul>
								<button type="button" class="close" onclick="jQuery('#memberProfile').toggleClass('active');" accesskey="X"><span>Close profile layer</span></button>
							</div>
							<!-- /memberProfile -->
						</li>
				            <!--@end-->
						<li class="language">
						<!-- class="language" | class="language open" -->
							<em class="{$lang_type}"><span>{$lang_supported[$lang_type]}</span></em>
							<button type="button" class="sLanguage" onclick="jQuery('.language').toggleClass('open'); return false;"><span>Select Language</span></button>
							<ul class="languageList">
				                    <!--@foreach($lang_supported as $key => $val)--><!--@if($key!= $lang_type)-->
								<li class="{$key}"><button type="button" onclick="doChangeLangType('{$key}');return false;"><span>{$val}</span></button></li>
				                    <!--@end--><!--@end-->
							</ul>
						</li>
				</ul></div>
			</div>
			<div id="header_menu" class="iePngFix">
				<!--@foreach($bottom_menu->list as $key => $val)-->
				<a href="{$val['href']}" <!--@if(!$header_menu_tmp)-->style="border:none;"<!--@end--> <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>{@$header_menu_tmp=1}
				<!--@end-->
			</div>
	</div></div>
	<!-- header -->
	<div id="contentWrapper">
		<div id="centerWrapper">
			<img width="0" height="0" src="./images/blank.gif" alt="{$layout_info->index_name}" class="mask" />
			<div id="widget">
		   <ul id="menuBox">
            <!--@foreach($main_menu->list as $key => $val)--><!--@if($val['link'])-->
               	<li <!--@if($val['selected'])--> class="menuItem itemSelect" {@$menu_1st = $val}<!--@else--> class="menuItem itemOff" onmouseover="this.className='menuItem itemOn'" onmouseout="this.className='menuItem itemOff'" <!--@end-->>
									<a class="menuText" href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>
		  						<!--@if($val['selected'])-->
			  						<ul id="lnb">
							        <!--@foreach($menu_1st['list'] as $key => $val)--><!--@if($val['link'])-->
													<li>
														<a href="{$val['href']}"<!--@if($val['open_window']=='Y')--> onclick="window.open(this.href);return false;"<!--@end--><!--@if($val['selected'])--> class="on"<!--@end-->>{$val['link']}</a>
													</li>
							        <!--@end--><!--@end-->
										</ul>
									<!--@end-->
								</li>
						<!--@end--><!--@end-->
        </ul>
	      <!-- 위젯 -->
	  	    <!-- 여기서부터 위젯을 코딩합니다 -->
			<img class="zbxe_widget_output" widget="tag_list" skin="treasurej_tagcloud" colorset="red" module_srls="225797" height="200px" />
	      <!-- 위젯 끝 -->
	      <img width="0" height="0" src="./images/blank.gif" alt="{$layout_info->index_name}" class="mask" />
		  </div>
			<div id="content">
				{$content}
				<img width="0" height="0" src="./images/blank.gif" alt="{$layout_info->index_name}" class="mask" />
			</div>
			<img width="0" height="0" src="./images/blank.gif" alt="{$layout_info->index_name}" class="mask" />
		</div>
	</div>
	<div id="footer" class="iePngFix">
		<p class="footer_left"> <!--@if($layout_info->left_bottom)-->{$layout_info->left_bottom}<!--@else-->by <a href="http://notepad.wo.tc" target="Elkha" title="Elkha">Elkha</a><!--@end--> </p>
		<p class="footer_center"><!--@if($layout_info->index_name)-->Copyright (c) <a href="{$layout_info->index_url}" title="{$layout_info->index_name}">{$layout_info->index_name}</a> All Right Reserved.<!--@end--></p>
		<p class="footer_right">Powerd by XE</p>
	</div>
	<p id="scotch-l" class="iePngFix"></p>
	<p id="scotch-rt" class="iePngFix"></p>
	<p id="scotch-br" class="iePngFix"></p>
	<p id="scotch-l2" class="iePngFix"></p>
	<p id="shadow-br" class="iePngFix"></p>
</div>

<!--@if(!$is_logged)-->
    {@ $member_config = MemberModel::getMemberConfig(); }
    <!--%import("./filter/login.xml")-->
    <!--@if($member_config->enable_openid=='Y')--><!--%import("./filter/openid_login.xml")--><!--@end-->
    <!-- loginWindow -->
    <div id="loginWindow" class="loginWindow">
    <!-- class="loginWindow" | class="loginWindow open" -->
        <span class="modalWindow"></span>
        <div id="loginLayer" class="loginLayer loginTypeA">
        <!-- class="loginLayer loginTypeA" | class="loginLayer loginTypeB" -->
            <button type="button" class="close" onclick="document.getElementById('loginWindow').style.display='none'" accesskey="X"><span>Close Login Layer</span></button>
            <form action="" method="post" class="typeA" id="commonLogin" onsubmit="return procFilter(this, login)">
                <fieldset>
                    <legend>XE Login</legend>
                    <dl>
                        <dt><label for="uid">{$lang->user_id}</label></dt>
                        <dd><input name="user_id" type="text" class="inputText" id="uid" /></dd>
                        <dt><label for="upw">{$lang->password}</label></dt>
                        <dd><input name="password" type="password" class="inputText" id="upw" /></dd>
                    </dl>
                    <p class="keep"><input name="keep_signed" type="checkbox" id="keepA" value="Y" class="inputCheck" onclick="if(this.checked) return confirm('{$lang->about_keep_signed}');"/><label for="keepA">{$lang->keep_signed}</label></p>
                    <span class="loginButton"><input name="" type="submit" value="{$lang->cmd_login}" /></span>
                </fieldset>
            </form>
            <!--@if($member_config->enable_openid=='Y')-->
            <form action="./" method="post" class="typeB" id="openidLogin" onsubmit="return procFilter(this, openid_login)">
                <fieldset>
                    <legend>OpenID Login</legend>
                    <dl>
                        <dt><label for="oid">Open ID</label></dt>
                        <dd><input name="openid" type="text" class="inputText" id="oid" /></dd>
                    </dl>
                    <span class="loginButton"><input name="" type="submit" value="{$lang->cmd_login}" /></span>
                </fieldset>
            </form>
            <!--@end-->
            <ul class="help">
                <li class="join"><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
                <li class="find"><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
                <li class="find"><a href="{getUrl('act','dispMemberResendAuthMail')}">{$lang->cmd_resend_auth_mail}</a></li>
                <!--@if($member_config->enable_openid=='Y')-->
                <li class="typeA"><a href="#openidLogin" onclick="document.getElementById('loginLayer').className='loginLayer loginTypeB'">OpenID</a></li>
                <li class="typeB"><a href="#commonLogin" onclick="document.getElementById('loginLayer').className='loginLayer loginTypeA'">OpenID</a></li>
                <!--@end-->
            </ul>
            <button type="button" class="close" onclick="document.getElementById('loginWindow').style.display='none'" accesskey="X"><span>Close Login Layer</span></button>
        </div>
    </div>
    <!-- /loginWindow -->
<!--@end-->
