@charset "utf-8";

/*
PXE Sky
Markup : Hyunhw Jung
Website: http://www.premiumxe.com
Email : clubnb2@naver.com
*/

/* Colorset - Sky
---------------------------------------------------------------------------------*/
body { color:#535353; background:#1b1b1b url(../img/black/background.gif) repeat-x; }
a, a:visited { color:#535353; }
a:hover,
a:active,
a:focus { color:#535353 }

.wideLeaflet { background:url(../img/black/bg_leaflet_wide.gif) repeat-y; }
.normalLeaflet { background:url(../img/black/bg_leaflet_normal.gif) repeat-y; }

#leaflet_normal { background:url(../img/black/bg_leaflet_normal_style.gif) no-repeat; }
#leaflet_wide { background:url(../img/black/bg_leaflet_wide_style.gif) no-repeat; }

#header_sub { background:url(../img/black/bg_hnb.gif) no-repeat; }
#header_sub .terminator { background:url(../img/black/bg_hnb.gif) right top; }
#container_contents { background-color:#1b1b1b; }
#footer_sub { border-top:1px solid #282828; border-bottom:1px solid #232323; }


/* 메인메뉴
---------------------------------------------------------------------------------*/
.gnb li a { color:#313131; _color:#313131!important; background:url(../img/black/vr.gif) no-repeat right 0px; }
.gnb li a:hover { color:#535353; _color:#535353!important; }
.gnb li.selected a { color:#535353; _color:#535353!important;}

/* 가로 서브메뉴
---------------------------------------------------------------------------------*/
#hnb li a { background:url(../img/black/vr_hnb.gif) no-repeat right 4px; color:#535353; }
#hnb li.on a { color:#535353; font-weight:bold; }
#hnb li:last-child a { background:none }

/* 하단메뉴
---------------------------------------------------------------------------------*/
.extraMenuLeft li a { color:#535353 !important; background:url(../img/black/vr_extra.gif) no-repeat right 1px; }
.extraMenuLeft li:last-child a { background:none }

.extraMenuRight li a { color:#535353 !important; background:url(../img/black/vr_extra.gif) no-repeat left 1px; }
.extraMenuRight li:First-child a { background:none }
