<!--// js 파일 import -->
<!--%import("default.js")-->
<!-- 레이아웃과 연동될 css파일-->
<!--%import("default.css")-->


<!-- 레이아웃 시작-->
<div id="wholeWrap">
<div id="wrap">

<!-- top 앵커 -->
	<div id="top">
		<a name="top"></a>
	</div>

<!-- slogan / logo / search -->	
	<div id="head">
		<div id="option_box">
			<div id="slogan"><!--@if($layout_info->slogan)-->{$layout_info->slogan}<!--@else-->슬로건 입력부분<!--@end--></div>
			<div id="suggestion"><!--@if($layout_info->suggestion)-->{$layout_info->suggestion}<!--@else-->추천검색어 입력부분<!--@end--></div>
    	  	<div id="search"><form action="{getUrl()}" method="post" id="isSearch">
            <!--@if($vid)-->
            <input type="hidden" name="vid" value="{$vid}" />
            <!--@end-->
            <input type="hidden" name="mid" value="{$mid}" />
            <input type="hidden" name="act" value="IS" />
            <input type="hidden" name="search_target" value="title_content" />
            <input name="is_keyword" type="text" class="inputText" title="keyword" />
            <input type="image" src="./image/buttonSearch.jpg" alt="{$lang->cmd_search}" class="submit" />
      		</form>
		 	</div>
		</div>
		<div id="logo" align="center">
			<a href="{$layout_info->logo_url}">
                    <!--@if($layout_info->logo)-->
                    <img src="{$layout_info->logo}" alt="Home" title="Home" border="0" />
                    <!--@else-->
                    <a href="http://www.crom-design.com/" target=_blank><img src="./image/logo.jpg" alt="Crom Design" title="Crom Design" border="0"/></a>
                    <!--@end-->
            </a>
		</div>
			
		<div id="notice_box" align="right">
		<div id="notice">
					<!--@if($layout_info->notice)-->
                    {$layout_info->notice}
                    <!--@else-->
                    관리자모드에서 입력가능한 공지 입력 부분
                    <!--@end-->
		</div>
		</div>
	</div>
	
<!-- menu -->

	<div id="menubox">
		<div>
			<div class="menu">
   			   <ul style="height:45px;">
            <!-- main_menu 1차 시작 -->
            {@ $idx = 1 }
            <!--@foreach($main_menu->list as $key => $val)--><!--@if($val['text'])-->
                <!--@if($val['selected'])-->
                    {@ $menu_1st = $val }
                <!--@end-->
                <li onMouseOver="menu({$idx});" <!--@if($val['selected'])-->class="on"<!--@end-->><a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['text']}</a></li>
            <!--@end-->
            {@$idx++}
            <!--@end-->
            <!-- main_menu 1차 끝 -->
  				</ul>    

			<script language="javascript1.2">
			var menuLen={$idx-1};
			</script>

            <!--히든 레이어 메뉴-->
            <!-- main_menu 1차 시작 -->
            {@ $idx = 1 }
            <!--@foreach($main_menu->list as $key => $val)--><!--@if($val['text'])-->
                         <!--2차메뉴-->
                        <div class="subMenu" id="subMenu_{$idx}" style="<!--@if($val['selected'])-->display:none;<!--@else-->display:none;<!--@end-->">
                        <!--@foreach($val['list'] as $key1 => $val1)--><!--@if($val1['text'])-->
                        <!--@if($val1['selected'])--><!--@end-->
                            <a id="lnb1" href="{$val1['href']}" <!--@if($val1['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val1['text']}</a>
                        <!--@end-->
                        <!--@end-->
     					 </div>
            <!--@end-->
            {@$idx++}
            <!--@end-->
            <!-- main_menu 1차 끝 -->   
			</div> 
		</div>
		<div id="side_menu">
		            <!--@foreach($side_menu->list as $key => $val)-->
                    <a href="{$val['href']}" <!--@if($val['open_window']=='Y')-->onclick="window.open(this.href);return false;"<!--@end-->>{$val['link']}</a>&nbsp; I &nbsp;
                    <!--@endforeach-->
		</div>
	</div>

<!-- body -->
<div id="contentBody">
		<div id="snb">
       		<div id="columnTitle"><a href="{$menu_1st['href']}">{$menu_1st['text']}</a></div>
 			<div id="columnMenu"><img class="zbxe_widget_output" widget="navigator" skin="default" colorset="layout" menu_srl="225677" start_depth="2"/></div>
		</div>
		<div id="content">{$content}</div>
		<div id="aside">
			<img class="zbxe_widget_output" widget="login_info" skin="xe_official" colorset="default" />
		</div>
		<div id="icon_top"><a href="#top"><img src="./image/icon_top.gif" border="0"></a></div>
</div>
<!-- foot -->  

  <div id="foot">
    <div class="foot_left" align="right">
                    <!--@if($layout_info->logo_btm)-->
                    <img src="{$layout_info->logo_btm}"  border="0" />
                    <!--@else-->
                    <img src="./image/logo_btm.jpg" alt="Crom Design" title="Crom Design" border="0"/>
                    <!--@end-->
	</div>
    <div class="foot_middle"><!--@if($layout_info->contact)--> {$layout_info->contact} <!--@else--> Tel : 000-000-0000 Fax : 000-000-0000 <br> E-MAIL : test@test.test <br />address : <br /><!--@end-->
	<!--@if($layout_info->copyright)-->{$layout_info->copyright} <!--@else--> Copyright ⓒ All right reserved.<!--@end-->
	</div>
  </div>
  
</div>
<!-- layout -->
<!-- degign copyright -->
<div id="crom">XE layout designed by <a href="http://www.crom-design.com/" target="_blank">CROM DESIGN</a></div>
</div>